WebCalendaar.sln
/.vscode/
/WebCalendaar/bin/
/WebCalendaar/obj/
/WebCalendaar/Properties/
/WebCalendaar/appsettings.json
/WebCalendaar/appsettings.Development.json
/WebCalendaar/Properties/launchSettings.json

