.CalendarSection {
    position: fixed;
    top: 23vh;
    left: 0%;
    right: 0%;
    margin: auto;
    width: 90vw;
    height: 70vh;
    overflow-y: scroll;
}
.CalendarButtons{
    display: flex;
    position: absolute;
    height: 6%;
    width: 30%;
    top: 50px;
    justify-content: end;
    right: 5%;
}

.MonthlyCalendarButton {
    width: 100%;
    border-left : 1px solid white;
    border-radius: 0px;
    border-top-right-radius: 10vw;
    border-bottom-right-radius: 10vw;
    padding-left: 5px;
    padding-right: 10px;
    background-color: rgb(100, 100, 100);
    font-size: large;
}
.MonthlyCalendarButton:disabled{
    background-color: rgb(75, 75, 75);
    cursor: not-allowed;
}

.WeeklyCalendarButton {
    width: 100%;
    border-right : 1px solid white;
    border-radius: 0px;
    border-top-left-radius: 10vw;
    border-bottom-left-radius: 10vw;
    padding-right: 5px;
    padding-left: 10px;
    background-color: rgb(100, 100, 100);
    font-size: large;
}
.WeeklyCalendarButton:disabled{
    background-color: rgb(75, 75, 75);
    cursor: not-allowed;
    
}