.CalendarSection {
    position: relative;
    top: -20px;
    left: 0%;
    right: 0%;
    margin: auto;
    width: 1500px;
    max-height: 700px;
    overflow-y: scroll;
}
.CalendarButtons{
    display: flex;
    position: relative;
    width: 100%;
    top: -20px;
    justify-content: end;
    right: 0%;
}

.MonthlyCalendarButton {
    border-left : 1px solid white;
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 5px;
    padding-right: 10px;
    background-color: rgb(100, 100, 100);
    font-size: large;
}
.MonthlyCalendarButton:disabled{
    background-color: rgb(75, 75, 75);
    cursor: not-allowed;
}

.WeeklyCalendarButton {
    border-right : 1px solid white;
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-right: 5px;
    padding-left: 10px;
    background-color: rgb(100, 100, 100);
    font-size: large;
}
.WeeklyCalendarButton:disabled{
    background-color: rgb(75, 75, 75);
    cursor: not-allowed;
    
}